.root {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;

  &[disabled] {
    background-color: darkgrey;
    cursor: default;
  }
}
