.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #21272E;
  color: #7F8B98;
}

.logo_wrapper {}

.auth_menu {
  margin-left: auto;
}

.username {
  font-weight: bolder;
  text-decoration: underline;
}

.menu_list {
  display: grid;
  gap: 12px;
  grid-auto-flow: column;

  padding: 0;
  list-style: none;

  .menu_item {}

  .menu_link {
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: #ffffff
    }
  }
}
