.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #21272e;
  color: #7f8b98;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  color: white;
}

.auth_menu {
  margin-left: auto;
}

.username {
  font-weight: bolder;
  text-decoration: underline;
}

.menu_list {
  display: grid;
  gap: 12px;
  grid-auto-flow: column;

  padding: 0;
  list-style: none;

  .menu_link {
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: #ffffff;
    }
  }
}
