@import "src/components/base/Button/styles.module";

.root {
  overflow: hidden;
}

.label {
  @extend .btn;
  flex-wrap: nowrap;
}

.filename {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.icon_holder {
  display: inline-flex;
  flex-shrink: 0;
}
