:global {
  /* stylelint-disable selector-class-pattern */
  .awesome-react-tooltip {
    padding: 8px;
    border-radius: 5px;
    /* stylelint-disable-next-line declaration-no-important */
    transition-duration: 200ms !important;
  }
  /* stylelint-enable */
}
