.btn {
  border-radius: 8px;
  border-style: solid;
  padding: 8px;
  cursor: pointer;

  --btn-bg-color: #efefef;

  &:not(:disabled) {
    cursor: pointer;
    background-color: var(--btn-bg-color);

    &:hover {
      --btn-bg-color: gray;
      border-color: white;
    }
  }
}

.primary { /* TDB */ }

.secondary { /* TBD */ }

.bare {
  border: none;
  --btn-bg-color: none;
}
